biopython==1.85
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
matplotlib==3.9.2
matplotlib-inline==0.1.2
numpy==2.0.2
pandas==2.2.2
PyYAML==6.0.2
scikit-learn==1.6.0
seaborn==0.13.2
torch==2.6.0
tqdm==4.67.0
